<!DOCTYPE html>
	<html lang= "en">
	<head>
	<meta charset = "UTF-8">
	<title>Hello World</title>
	</head>
	<body>
	{{$x :=.ID}}
	{{$y :=.Name}}
	<ul>
	<li>{{$x}} - {{$y}}</li>
	</ul>
	</body>
	</html>
