<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

{{range.}}
{{uc .Fname}} - {{uc .Lname}}
{{end}}


{{range .}}
{{lc .Fname}} - {{lc .Lname}}
{{end}}

<p> {{template "mekki" .}} </p>
</body>
</html>